/* Empty. Add your own CSS if you like */

@font-face {
    font-family: RobotoSlab-Regular;
    src: url('RobotoSlab-Regular.ttf');
}

@font-face {
    font-family: Raleway-Regular;
    src: url('Raleway-Regular.ttf');
}

.robotoFont {
    font-family: RobotoSlab-Regular !important;
}

.ralewayFont {
    font-family: Raleway-Regular !important;
}

.searchbox {
	color: rgb(101, 63, 13) !important;
	width: 100% !important;
}

.searchboxDiv {
	background-color: white !important;
}

.timeEstimate {
	font-size: 13px !important;
	border-radius: 180px !important;
	height: 50px !important;
	width: 50px !important;
	text-align: center;
	border: 2px solid rgb(129, 196, 225) !important;
	line-height: 15px !important;
	padding-top: 6px !important;
}

.title {
	text-align: center !important;
	color: #B7B7B7 !important;
}

i.iconSize:before {
	font-size: 40px !important
}

.cartBadge {
	color: white !important;
	height: 15px;
	width: 15px;
	border-radius: 25px;
	font-size: 10px !important;
	left: 12px !important;
	top: -31px !important;
	padding: 0px 0px 0px 0px !important;
}

.alignLeft {
	float: left;
}
.alignRight {
	float: right;
}

.grandTotal{
	width: 100% !important;
	text-align: right !important;
}

hr {
	border-top: 1px solid #e7e7e7 !important;
}